*{
	box-sizing: border-box;
}

body{
	height: 100vh;
	
	overflow: hidden;
}

@media screen and (orientation: portrait) {

    #findit{
        display: none;
    }

    span{
        opacity: 0;
    }

    a{
        display: none;
    }
    body{
        height: 100vh;
        background: linear-gradient(
                    rgba(0,0,0,0.7),
                    rgba(0,0,0,0.7)
                     ),url('./img/material/adbg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;

    }

    body::before{
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('./img/rotate.png');
        background-repeat: no-repeat;
        background-position: center;

        position: absolute;
        top: 42%;
        left: 50%;

        transform: translate(-50%,-50%);
    }

    body::after{
        content: 'Please rotate your screen';
        width: 100%;
        height: 100%;
        color: #888;
        font-size: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
       
        position: absolute;
        top: 0;
        left: 0;

        transform: translateY(35px);

        animation: ani 1.7s;
    }

    @keyframes ani{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    }

     .alertbox{
        opacity: 0;
    }

    .goverbox{
        opacity: 0;
    }

.container-fluid{
	margin: 0;
	padding: 0;
}

.imgboxs{	
	
	margin: 0;
	padding: 0;
}

.imgboxs img{
	width: 100%;
    height: 760px;
}

.smallboxs{
	width: 100%;
	height: 500px;
	position: absolute;

   z-index: 3;

   top: 0;
   left: 0;
}

.watermelon{
	position: absolute;
	top: 40%;
	left: 10%;
}

.cherry{
	position: absolute;
	top: 17.2%;
	right: 28%;
	transform: rotate(42deg);
	opacity: 0.7;
}

.fly{
	position: absolute;
	bottom: 0%;
	left: 58.5%;
	opacity: 0.8;
}

.banana{
	transform: rotate(-110deg);
	position: absolute;
	bottom: 20%;
	left: 16%;

}

.orange{
	position: absolute;
	top: 4%;
	left: 12%;
	opacity: 0.8;
}

.flower{
	position: absolute;
	top: 79%;
	left: 34.78%;
	opacity: 0.6;
}

.fox{
	position: absolute;
	top: 95.5%;
	right: 32.5%;
	
	opacity: 0.75;
}

.bamboo{
	position: absolute;
	bottom: 14%;
	left: 25.5%;
}

.caterpillar{
   position: absolute;
   top: 9.5%;
   right: 58.5%;
   transform: rotate(51deg);
}

.grape{
	position: absolute;
	top: 1%;
	left: 0%;
}
.things{
    animation: thinganni 0.5s forwards;

    z-index: 2;
}

@keyframes thinganni{
	0%{
       transform: scale(1);
	}
	/*50%{
		transform: scale(2);
		
	}*/
	100%{
       transform: scale(2);
       opacity: 0;
	}
}

@media (max-width: 1000px){

	.imgboxs img{
	width: 100%;
    height: 490px;
    /*height: 100%;*/
   }

    .smallboxs{
        width: 90%;
  }
   
   .watermelon{
   	width: 15px;
   	top: 30%;
	left: 9%;
   }

   .cherry{
   	width: 33px;
   	top: 11%;
	right: 18%;
   }

   .fly{
   	width: 16px;
   	bottom: 34.6%;
	left: 65%;
   }

   .banana{
   	width: 20px;
   	bottom: 48%;
	left: 17%;
   }

   .orange{
   	width: 20px;
   	top: 3%;
	left: 12.6%;
   }

   .flower{
   	width: 17px;
   	top: 50.7%;
	left: 38%;
   }

   .fox{
   	width: 40px;
   	top: 62%;
	right: 24.5%;
   }

   .bamboo{
   	width: 18px;
   	bottom: 44%;
	left: 28.5%;
   }

   .caterpillar{
   	width: 24px;
   	top: 5.9%;
   right: 54%;
   }

   .grape{
   	width: 28px;
   	top: 1.5%;
	left: 0%;
   }

}

.textboxs{	
	margin: 0;
	padding: 0;  
    background-color: #393b3a; /*#2dbab0*/ 
    border: 7px solid #2b2b2b; /*#05968c*/
}

.fortexts ul{
    font-size: 0.9rem;
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-bottom: 2px solid #f4f4f4;
}

.fortimes{
	border-bottom: 2px solid #f4f4f4;
}

.btn{
	width: 50%;
	height: 45px;
	/*position: relative;*/
	line-height: 30px;
	background-color: #f1f1f1;

}

.hintwords{
   animation: hintsani 2s forwards;
}

@keyframes hintsani{
    from{
        transform: scale(1);
    }
   to{
        transform: scale(1.8);
        border: 2px dotted #24ffda;
        border-radius: 50%;
    }
}

.forhints{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;


    position: relative;
}

.gphints{
    width: 100px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    
    /*border: 2px solid rgba(255, 255, 255, 0.4);*/

    position: relative;
    z-index: 0;
}

.gphints::before{
    content: 'Hints';
    width: 100px;
    height: 50px;
    color: rgba(0, 0, 0, 0.4);
   
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 45px;

    position: absolute;
    left: 0;
    top: 5px;
    z-index: 0;
}

.mychances{
    color: #fff;
    background-color: #5a62fa;
    padding: 2px 10px;
    border-radius: 50%;

    position: absolute;
    top: -50%;
    right: 25%;
}

.hints{
    width: 100px;
    height: 50px;
    background-color: #fff;
    color: #2b2b2b;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 5px;

    /*box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);*/
}

.hints1, .hints2, .hints3, .hints4, .hints5, .hints6, .hints7, .hints8, .hints9, .hints10{

    position: absolute;
    top: 0;
    left: 0;
    
}

.hints1{
    z-index: 10;
}


.hints2{
    z-index: 9;
}

.hints3{
    z-index: 8;
}

.hints4{
    z-index: 7;
}

.hints5{
    z-index: 6;
} 

.hints6{
    z-index: 5;
} 

.hints7{
    z-index: 4;
} 

.hints8{
    z-index: 3;
}

.hints9{
    z-index: 2;
} 

.hints10{
    z-index: 1;
} 

/*Start Modal Box*/
.alertbox{
	width: 300px;
	height: 330px;
	background-color: #fff;
	border: 3px solid #fff;
	border-radius: 10px;

	margin-top: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	position: absolute;
	top: 25%;
	left: 40%;

	
}

.blur{
	filter: blur(3px);
}

.emojibox{
	padding: 20px 0px;
}

.alerttext{
	text-align: center;
}
.alerttext h4{
	color: #303030;
}

.nextbtn{
	padding: 10px 20px;
	background-color: #424242;
	color: #fff;
	border: 3px solid #424242;
	border-radius: 5px;
}
.nextbtn a{
	text-decoration: none;
	color: #f1f1f1;
	font-weight: 500;
}

.goverbox{
	width: 300px;
	height: 330px;
	background-color: #fff;
	border: 3px solid #fff;
	border-radius: 10px;

	margin-top: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	position: absolute;
	top: 25%;
	left: 40%;

	
}

@media (max-width: 1000px){
   .forhints{
   	  margin-top: 12px;
   }

   .gphints{
    width: 70px;
    height: 38px;
  }

  .gphints::before{
  	 width: 70px;
    height: 38px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 35px;

    position: absolute;
    left: 0;
    top: 5px;
  }

  .hints{
    width: 70px;
    height: 38px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 35px;
    border: 2px solid #fff;
    border-radius: 5px;
  }

  .mychances{
  	font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 50%;

    position: absolute;
    top: -40%;
    right: 20%;
}

.goverbox{
	width: 300px;
	height: 300px;

	margin-top: 50px;

	position: absolute;
	top: 8%;
	left: 28%;

	
}

  .alertbox{
	width: 300px;
	height: 320px;

	margin-top: 50px;

	position: absolute;
	top: 8%;
	left: 28%;

	
}

}
/*End Modal Box*/
