*{
	box-sizing: border-box;
}

body{
	height: 100vh;
	
	overflow: hidden;
}

.container-fluid{
	margin: 0;
	padding: 0;
}

.imgboxs{	
	margin: 0;
	padding: 0;
}

.smallboxs{
	width: 100%;
	height: 500px;
	position: absolute;

   z-index: 3;

   top: 0;
   left: 0;
}

.watermelon{
	position: absolute;
	top: 63.5%;
	left: 59.6%;
    opacity: 0.8;
}

.cherry{
	position: absolute;
	top: 117%;
	left: 33.8%;

    opacity: 0.7;
}

.fly{
	position: absolute;
	top: 50%;
	left: 52%;
    opacity: 0.8;
}

.banana{
	position: absolute;
	top: 42%;
	left: 32%;

    opacity: 0.7;
}

.orange{
	position: absolute;
	top: 98%;
	left: 68.4%;

    opacity: 0.8;
}

.flower{
	position: absolute;
	top: 41%;
	left: 3%;
}

.fox{
	position: absolute;
	top: 74%;
	right: 18%;
}

.bamboo{
	position: absolute;
	top: 75%;
	left: 8.8%;

    transform: rotate(-10deg);
}

.caterpillar{
   position: absolute;
   top: 2%;
   left: 10%;

   transform: rotate(32deg);
}

.grape{
	position: absolute;
	top: 64%;
	left: 20.3%;

    opacity: 0.5;
}
.things{
    animation: thinganni 2s forwards;

    z-index: 2;
}

@keyframes thinganni{
	0%{
       transform: scale(1);
	}
	50%{
		transform: scale(2);
		
	}
	100%{
       transform: scale(2);
      
	}
}

@media (max-width: 1000px){

    .smallboxs{
    width: 90%;
  }

    .watermelon{
        position: absolute;
        top: 41%;
        left: 66.2%;

        width: 13px;
    }
    
    .cherry{
        width: 38px;

        position: absolute;
        top: 74.5%;
        left: 38%;
    
        opacity: 0.8;
    }
    
    .fly{
        width: 40px;
        position: absolute;
        top: 34%;
        left: 57%;
    }
    
    .banana{
        position: absolute;
        top: 26.5%;
        left: 35%;
        width: 25px;
    
        opacity: 0.7;
    }
    
    .orange{
        width: 30px;
        top: 63%;
        left: 76%;
        
    
        opacity: 0.8;
    }
    
    .flower{
        top: 31%;
        left: 2.2%;
    }
    
    .fox{
        position: absolute;
        top: 47.8%;
        right: 8.3%;

        width: 38px;
    }
    
    .bamboo{
        position: absolute;
        top: 56%;
        left: 9.6%;
    
        transform: rotate(-10deg);
    }
    
    .caterpillar{
       width: 30px;
       position: absolute;
       top: 0%;
       left: 10%;
       opacity: 0.7;
    
       transform: rotate(32deg);
    }
    
    .grape{
        width: 25px;
        position: absolute;
        top: 42%;
        left: 22.4%;
    
        opacity: 0.7;
    }

}

.textboxs{	
	margin: 0;
	padding: 0;  
    background-color: #393b3a; /*#2dbab0*/ 
    border: 7px solid #2b2b2b; /*#05968c*/
}

.fortexts ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-bottom: 2px solid #f4f4f4;
}

@media (max-width: 1000px) {
    .fortexts ul {
        font-size: 12px;
        padding-bottom: 20px;
    }
    .fortexts ul li {
        letter-spacing: 1px;
    }
}

.fortimes{
	border-bottom: 2px solid #f4f4f4;
}

.btn{
	width: 50%;
	height: 45px;
	/*position: relative;*/
	line-height: 30px;
	background-color: #f1f1f1;

}

.hintwords{
   animation: hintsani 2s forwards;
}

@keyframes hintsani{
    from{
        transform: scale(1);
    }
   to{
        transform: scale(1.8);
        border: 2px dotted #24ffda;
        border-radius: 50%;
    }
}

.forhints{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;


    position: relative;
}

.gphints{
    width: 100px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    
    /*border: 2px solid rgba(255, 255, 255, 0.4);*/

    position: relative;
    z-index: 0;
}

.gphints::before{
    content: 'Hints';
    width: 100px;
    height: 50px;
    color: rgba(0, 0, 0, 0.4);
   
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 45px;

    position: absolute;
    left: 0;
    top: 5px;
    z-index: 0;
}

.mychances{
    color: #fff;
    background-color: #5a62fa;
    padding: 2px 10px;
    border-radius: 50%;

    position: absolute;
    top: -50%;
    right: 25%;
}

.hints{
    width: 100px;
    height: 50px;
    background-color: #fff;
    color: #2b2b2b;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 5px;

    /*box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);*/
}

.hints1, .hints2, .hints3, .hints4, .hints5, .hints6, .hints7, .hints8, .hints9, .hints10{

    position: absolute;
    top: 0;
    left: 0;
    
}

.hints1{
    z-index: 10;
}


.hints2{
    z-index: 9;
}

.hints3{
    z-index: 8;
}

.hints4{
    z-index: 7;
}

.hints5{
    z-index: 6;
} 

.hints6{
    z-index: 5;
} 

.hints7{
    z-index: 4;
} 

.hints8{
    z-index: 3;
}

.hints9{
    z-index: 2;
} 

.hints10{
    z-index: 1;
} 

/*Start Modal Box*/
.alertbox{
	width: 300px;
	height: 330px;
	background-color: #fff;
	border: 3px solid #fff;
	border-radius: 10px;

	margin-top: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	position: absolute;
	top: 25%;
	left: 40%;

	
}

.blur{
	filter: blur(3px);
}

.emojibox{
	padding: 20px 0px;
}

.alerttext{
	text-align: center;
}
.alerttext h4{
	color: #303030;
}

.nextbtn{
	padding: 10px 20px;
	background-color: #424242;
	color: #fff;
	border: 3px solid #424242;
	border-radius: 5px;
}
.nextbtn a{
	text-decoration: none;
	color: #f1f1f1;
	font-weight: 500;
}

.goverbox{
	width: 300px;
	height: 330px;
	background-color: #fff;
	border: 3px solid #fff;
	border-radius: 10px;

	margin-top: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	position: absolute;
	top: 25%;
	left: 40%;

	
}

@media (max-width: 1000px){
   .forhints{
   	  margin-top: 25px;
   }

   .gphints{
    width: 80px;
    height: 38px;
  }

  .gphints::before{
  	 width: 80px;
    height: 38px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 35px;

    position: absolute;
    left: 0;
    top: 5px;
  }

  .hints{
    width: 80px;
    height: 38px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 35px;
    border: 2px solid #fff;
    border-radius: 5px;
  }

  .mychances{
  	font-size: 0.8rem;
    padding: 2px 8px;
    border-radius: 50%;

    position: absolute;
    top: -50%;
    right: 20%;
}

.goverbox{
	width: 300px;
	height: 300px;

	margin-top: 50px;

	position: absolute;
	top: 8%;
	left: 28%;

	
}

  .alertbox{
	width: 300px;
	height: 320px;

	margin-top: 50px;

	position: absolute;
	top: 8%;
	left: 28%;

	
}

}
/*End Modal Box*/